@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #f9f9f9;
}

.container {
  max-width: 70%;
  width: 60%;
  text-align: center;
}

.insert {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.elements {
  margin-right: 20px;
}

.elements input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
  outline: none;
}

.element {
  padding-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.9);
}

.fa-plus {
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.fa-plus:active {
  transform: scale(0.9);
}

.array {
  margin: 2rem 0;

  width: 60%;
  margin: 0 auto;
  border-radius: 5px;

  font-size: 2rem;
  padding: 20px 0;
}

.array.show {
  background-color: #fff;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
